@import url("https://fonts.cdnfonts.com/css/anton");
@import url("https://fonts.cdnfonts.com/css/inter");

:root {
  --background: #121212;
  --azul-claro: #94D0FA;
  --roxo-claro: #7274E2;
}

* {
  font-family: "Inter", sans-serif !important;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }

  50% {
    transform: translate(0, 10px);
  }

  100% {
    transform: translate(0, -0px);
  }
}

body {
  background-color: var(--background);
  overflow-x: hidden;
}

.container {
  width: 100vw;
}

header {
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 100vh;
  width: 100vw;
}

header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("../assets/header.png");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  filter: brightness(0.2);
}

#logo-header {
  position: absolute;
  width: 25rem;
  opacity: 0;
  transition: 1000ms ease;
}

#scroll-icon {
  width: 22px;
  position: absolute;
  right: 25px;
  bottom: 15px;
  animation: floating 3s ease-in-out infinite;
  opacity: 0;
  transition: 1000ms ease;
}

nav {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  font-size: 1.25rem !important;
  font-weight: 700;
  padding: 2rem !important;
  box-sizing: border-box;
  transition: 400ms;
  background-color: unset;
  transition: all 0.5s;
  z-index: 1;
}

nav a {
  text-decoration: none;
  color: white;
  opacity: 0;
  transition: opacity 500ms ease;
}

.active {
  background-color: var(--background);
}

#navItens {
  display: flex !important;
  justify-content: center;
  flex-direction: row;
  gap: 8%;
  transform: none;
  transition: all 0.5s;
}

.active-item {
  transform: translateX(20rem) !important;
}

.jogos {
  position: relative;
  height: 85vh;
}

.blindForest {
  display: flex;
  position: absolute;
  top: 5rem;
  left: 4rem;
  align-items: center;
}

.willWisps {
  display: flex;
  position: absolute;
  top: 25rem;
  left: 8rem;
  align-items: center;
}

#naru-e-ori {
  width: 40rem;
  transition: all 500ms ease;
  transform: translateX(-100vw);
  cursor: pointer;
}

.imgCome {
  transform: unset !important;
}

.popin {
  opacity: 1 !important;
}

#ori-e-ku {
  width: 40rem;
  transition: all 500ms ease;
  transform: translateX(-100vw);
  cursor: pointer;
}

.txtJogo {
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  font-family: "Inter", sans-serif !important;
  font-size: 2.5rem;
  margin-left: 2.5rem;
  padding-left: 2rem;
  border-left: 5px solid white;
  opacity: 0;
  transition: opacity 500ms ease;
}

.blindForest-main {
  position: relative;
  display: flex;
  height: 93vh;
}

.imgTitleBlindForest {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding-top: 5rem;
  opacity: 1;
  transform: translateX(-10rem);
  transition: all 500ms;
}

.gameHistoryTitle {
  margin-top: 5rem;
  font-size: 48px;
  color: white;
}

.historiaBlindForest {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 50%;
  background-color: var(--azul-claro);
}

.historiaWillWisps{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 50%;
  background-color: #4978F1;
}

.svgBorder {
  position: absolute;
  width: 18rem;
  opacity: 0;
  transition: all 500ms;
}

.svgBorderLeft, .svgBorderLeftW {
  bottom: 2rem;
  left: 2rem;
}

.svgBorderRight, .svgBorderRightW {
  right: 2rem;
  top: 2rem;
}

.historiaBlindForest p {
  font-size: 1.6rem;
  margin-top: 1rem;
}

.historiaBlindForest>div {
  width: 80%;
  margin-top: 5rem;
  opacity: 0;
  transition: all 500ms;
}

.historiaWillWisps p {
  font-size: 1.6rem;
  margin-top: 1rem;
}

.historiaWillWisps>div {
  width: 80%;
  margin-top: 5rem;
  opacity: 0;
  transition: all 500ms;
}

.willWisps-main {
  position: relative;
  display: flex;
  height: 93vh;
  width: 100%;
  margin-top: 10rem;
}

.divisor {
  position: relative;
  margin-top: 5rem;
  height: 115vh;
}

.divisor img {
  height: 100%;
  width: 100%;
  filter: brightness(50%);
}

#sp-divisor {
  position: absolute;
  color: white;
  right: 8rem;
  bottom: 6rem;
  font-size: 5rem;
}

.willWisps-main>.imgWillWisps {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  opacity: 1;
  transform: translateX(10rem);
  transition: all 500ms;
}

.willWisps-main>.imgWillWisps>img {
  width: 50rem;
  border-radius: 1rem;
}

.desenvolvedor{
  height: 80vh;
}