@import url("https://fonts.cdnfonts.com/css/inter");

:root {
    --azul-buttons: #B2C8FF;
    --branco-azulado: #E6EDFF;
    --azul-fundo-form: #202D4E;
}

* {
    font-family: "Inter", sans-serif !important;
}

body {
    overflow: hidden;
}

#popUp {
    position: absolute;
    top: 1rem;
    right: -30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--azul-buttons);
    border-radius: .5rem;
    border-left: 5px solid rgb(16, 62, 126);
    width: 15rem;
    height: 4rem;
    transition: all 200ms ease;
    color: white;
    font-size: 1.3rem;
}

#popUp span:nth-child(2) {
    font-size: 1rem;
}

#alertError {
    color: red;
    font-size: 1rem;
    margin-top: .5rem;
    text-align: center;
}

.container {
    overflow: hidden;
    display: flex;
    height: 100vh;
    width: 100vw;
    background-image: url('../assets/quiz-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    justify-content: center;
}

.container::before {
    content: '';
    height: 100vh;
    width: 100vw;
    background-color: black;
    position: absolute;
    opacity: 0.7;
}

#ori-logo {
    width: 500px;
}

.befQuiz {
    position: relative;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
    height: 100%;
    width: 25vw;
    opacity: 1;
    transition: 400ms ease;
}

.befQuiz>span {
    position: absolute;
    top: 4.6rem;
    font-size: 2rem;
    font-weight: 550;
}

.loginCad {
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
    align-self: center;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 400ms ease;
}

#login-title,
#cadastro-title {
    font-size: 2.3rem;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 3rem;
}

.login,
.cadastro {
    position: relative;
    display: none;
    flex-direction: column;
    gap: .5rem;
    opacity: 0;
    transition: 400ms ease;
    background: var(--azul-fundo-form);
    height: 55%;
    width: 25%;
    align-items: center;
    border-radius: 2rem;
    color: white;
}

.login{
    height: 45%;
}

button {
    padding: .3rem;
    font-size: 1.3rem;
    color: white;
    border: none;
    background-color: var(--azul-buttons);
    margin-top: 1.6rem;
    box-shadow: 8px 8px 6px 0px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    width: 14rem;
}

.cadOuEntrar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .6rem;
}

#btCadastro {
    background-color: var(--branco-azulado);
    color: black;
    border-radius: 3px;
    font-size: 1.5rem;
    width: 22rem;
    height: 3rem;
    padding: .6rem;
    border: none;
    margin-top: 3rem;
    cursor: pointer;
    box-shadow: 8px 8px 6px 0px rgba(0, 0, 0, 0.1);
}

#btVoltar {
    color: black;
    width: 22rem;
    height: 3rem;
    cursor: pointer;
}

#possuiConta {
    bottom: 2rem;
}

#sEntrar {
    text-decoration: underline;
    cursor: pointer;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    width: 100%;
    align-items: center;
    margin-top: 3rem;
}

i {
    position: absolute;
    top: 8%;
    left: 8%;
}

input {
    padding: .3rem;
    font-size: 1.1rem;
    border: none;
    border-bottom: 1px solid gray;
    width: 50%;
    padding-left: 1rem;
    background: none;
    color: white;
}

input::placeholder {
    color: white;
}

input:focus {
    outline: none;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.cadastro>.buttons, .login>.buttons {
    margin-top: 2rem;
    width: 100%;
}

.cadastro>.buttons>button, .login>.buttons>button {
    color: var(--azul-fundo-form);
    width: 50%;
    background-color: var(--branco-azulado);
}