@import url('https://fonts.cdnfonts.com/css/anton');

*{
    font-family: 'Anton', sans-serif;
}

.container{
    display: flex;
    height: 100vh;
    width: 100vw;
    background-image: url('../assets/quiz-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    justify-content: center;
}

.quiz{
    display: flex;
    align-items: center;
}

.quiz > button{
    height: 3rem;
    width: 6rem;
    opacity: 1;
    transition: all 500ms ease;
}

.respostas{
    display: none;
}

.ranking{
    display: none;
    color: white;
    text-align: center;
    height: 5rem;
}

.ranking th, .ranking td{
    padding-right: 1rem;
}